.topview {
  color: white;
  font-size: $font-size;
  xbackground-color: darken($base-color, 30%);
  background-color: rgb(9, 65, 88);
}

.imgAll {
  display: inline-block;
  background-repeat: no-repeat;
  xbackground-size: 104%;
  xbackground-position: 75%;
}

.imgAll2 {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: 104%;
  background-position: 50%;
  xborder-radius: 50%;
  -xwebkit-box-shadow: 0px 8px 10px -6px black;
  -xmoz-box-shadow: 0px 8px 10px -6px black;
  xbox-shadow: 0px 8px 10px -6px black;
}

.imgSmall {
  width: 35px;
  height: 35px;
}

.imgBig {
  width: 173px;
  height: 86px;
}